
<h1 style="text-align:center">Personal Info</h1>
<div class="columndiv" id="myPersonalInfo">
    <span>
        <div class="testdiv" >
            <div class="row"  data-toggle="collapse" data-target="#pInfo">

                <div class="col-lg-6">
                    <div style="margin:20px;">
                        <div  style="background-image:url('images/dl.png');border-radius: 15px;width:444px;height: 282px;">

                        </div>
                    </div>
                </div>
                <div class="col-lg-6" style="line-height:4em;">
                    <ul style="list-style:none;">
                        <li><strong>Data Release Number (DRN): </strong><%= data['SAR']['date'] %></li>
                        <li><strong>Expected Family Contribution (EFC): </strong><%= data['SAR']['drn'] %></li>
                        <li><strong>OMB No: </strong><%= data['SAR']['omb'] %></li>
                        <li><strong>Phone Number: </strong><%= data['USER']['phone'] %></li>
                        <li><strong>Email Address: </strong><%= data['USER']['email'] %></li>
                    </ul>
                </div>
                <div class="row collapse" id="pInfo" style="line-height:5em;">
                    <div class="col-lg-1"><p></p></div>
                    <div class="col-lg-5">
                        <ul style="list-style:none;">
                            <li><strong>Legal Residence Before 01-01-2011: </strong>Yes</li>
                            <li><strong>Drug Conviction Affecting Eligibility: </strong>No</li>
                            <li><strong>Registered for service ?: </strong>Yes</li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <ul style="list-style:none;">
                            <li><strong>SSN: </strong><%= data['USER']['ssn'] %></li>
                            <li><strong>Citizen ?: </strong>Yes</li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <ul style="list-style:none;">
                            <li><strong>Marital Status: </strong><%= data['USER']['marital_status'] %></li>
                            <li><strong>Date of Marital Status Change: </strong>n/a</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </span>
</div>